<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    
    <center>
        <h1>Write new Post </h1>
        
        <form  method="POST" action="/posts">
        <input type="text" placeholder="enter your username" name ="username"> <br>
        <textarea name="content" placeholder="write your post"></textarea><br>
        <button>submit</button>
    </form></center>
</body>
</html>